.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  /* background-color: #1d1e20; */
  /* background-color: #171717; */
  background-color: #0e0e0e;
}

.footer-container p {
  font-size: 0.8rem;
  color: #9b9c9d;
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #9b9c9d;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #dadadb;
}
