.nav-container {
  padding-top: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.flex-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: none;
  }
}
.nav-container .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.cta-btn {
  color: #dadadb;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

/* efeito da line embaixo do "link" */
.cta-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  /* background: #ffcc1a; */
  /* cores novas */
  background: #772099;
  transition: width 0.3s;
}

.cta-btn:hover::after {
  width: 100%;
  transition: width 0.3s;
}
/*  */
.hr-line-navbar {
  width: 100%;
}
