.projects-container {
  padding: 2rem 0;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  /* animation */
  /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%; */
}

@media screen and (max-width: 768px) {
  .projects-grid {
    /* grid-template-columns: repeat(1, 1fr); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }

  .project-image {
    max-width: 100%;
    max-height: 100%;
    padding-right: 20px;
    object-fit: cover;
  }
}

.project-card {
  padding: 20px;
  border: 1px solid #9b9c9d;
  /* animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%; */
  max-width: 100%; /* Adicionado */
  width: 100%; /* Adicionado */
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

/* .project-card .folder-icon {
    font-size: 35px;
    color: #ffcc17;
  } */

.project-image {
  margin: 10px;
}

.project-header .small-icons {
  display: flex;
  gap: 0 5px;
  font-size: 30px;
}

.project-card .small-icons a {
  margin-right: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* color:#ffcc17; */
  color: #772099;
}

.project-card .small-icons a:hover {
  color: #a42ed3;
}

.project-card,
.project h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card,
.project p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #ffffff;
}

.cta-btns {
  color: rgb(128, 128, 129);
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btns:hover {
  color: #dadadb;
  transition: all 0.3s ease-in-out;
}

.cta-btns::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  /* background: #ffcc1a; */
  /* cores novas */
  background: #772099;
  transition: width 0.5s;
}

.cta-btns:hover::after {
  width: 100%;
  transition: width 1s;
}
